<div class="px-6 py-4">
  <label class="text-gray-100">{{@category.name}}:</label>
  <br/>
  <div class="flex gap-2 flex-wrap">
    {{#each this.selected as |selected|}}
    <button class="h-6 text-left px-2 py-1 bg-gray-100 hover:bg-gray-300 flex items-center" type="button" onclick={{(fn this.unselect selected)}}>
      {{selected}}
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg mx-3" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
      </svg>
    </button>
    {{/each}}
  </div>
  {{#if this.anySelected}}
    <div class="h-4"></div>
  {{/if}}
  <input
    id={{@category.name}}
    type="text"
    value={{this.searching}}
    {{on "input" this.updateValue}}
    {{!-- oninput={{this.updateValue}} --}}
  />
  <div class="max-h-52 overflow-auto bg-white">
    {{#if this.tooManyResults}}
      <p>Too many results</p>
    {{else}}
      {{#each this.results as |result|}}
        <button class="w-full text-left px-2 py-1 hover:bg-gray-300" type="button" onclick={{(fn this.select result)}}>{{result}}</button>
        <br/>
      {{/each}}
    {{/if}}
  </div>
</div>
